In [20]:
import pandas as pd

In [21]:
# Charger le fichier CSV
application = pd.read_csv(r'C:\Users\jason\Desktop\Cours MS2D\Bejaoui\IA\Credit scoring project\application_train.csv')

In [22]:
# Afficher les premières lignes du DataFrame
print(application.head())

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0
3               Y             0          135000.0    312682.5      29686.5
4               Y             0          121500.0    513000.0      21865.5

   ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0  ...                 0                0                0                0
1  ...                 0                0                0                0
2  ...                 0                0                0                0
3  ...                 0                0                0                0
4  ...                 0                0                0                0

  AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                        0.0                       0.0
1                        0.0                       0.0
2                        0.0                       0.0
3                        NaN                       NaN
4                        0.0                       0.0

   AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                         0.0                        0.0
1                         0.0                        0.0
2                         0.0                        0.0
3                         NaN                        NaN
4                         0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                        0.0                         1.0
1                        0.0                         0.0
2                        0.0                         0.0
3                        NaN                         NaN
4                        0.0                         0.0

[5 rows x 122 columns]

In [23]:
# Sélectionner les colonnes pertinentes
selected_columns = ['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 
                    'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY']

application_selected = application[selected_columns].copy()  # Utiliser .copy() pour éviter les SettingWithCopyWarning

In [24]:
# Afficher le nombre de valeurs manquantes par colonne
print(application_selected.isnull().sum())

SK_ID_CURR             0
TARGET                 0
NAME_CONTRACT_TYPE     0
CODE_GENDER            0
FLAG_OWN_CAR           0
FLAG_OWN_REALTY        0
CNT_CHILDREN           0
AMT_INCOME_TOTAL       0
AMT_CREDIT             0
AMT_ANNUITY           12
dtype: int64

In [25]:
# Traiter les valeurs manquantes pour la colonne AMT_ANNUITY
application_selected.loc[:, 'AMT_ANNUITY'] = application_selected['AMT_ANNUITY'].fillna(application_selected['AMT_ANNUITY'].median())

In [26]:
# Sélectionner les colonnes de type 'object' et obtenir le nombre de valeurs uniques
object_columns_unique_counts = application_selected.select_dtypes('object').apply(pd.Series.nunique, axis=0)
print(object_columns_unique_counts)

# Afficher les valeurs uniques pour chaque colonne de type 'object'
for column in application_selected.select_dtypes('object').columns:
    print(f"Valeurs uniques pour {column}:")
    print(application_selected[column].unique())
    print()

NAME_CONTRACT_TYPE    2
CODE_GENDER           3
FLAG_OWN_CAR          2
FLAG_OWN_REALTY       2
dtype: int64
Valeurs uniques pour NAME_CONTRACT_TYPE:
['Cash loans' 'Revolving loans']

Valeurs uniques pour CODE_GENDER:
['M' 'F' 'XNA']

Valeurs uniques pour FLAG_OWN_CAR:
['N' 'Y']

Valeurs uniques pour FLAG_OWN_REALTY:
['Y' 'N']

In [27]:
# Correction des valeurs anormales
# Liste des valeurs valides pour chaque colonne (à adapter selon le besoin)
valid_values = {
    'NAME_CONTRACT_TYPE': ['Cash loans', 'Revolving loans'],
    'CODE_GENDER': ['M', 'F'],
    'FLAG_OWN_CAR': ['Y', 'N'],
    'FLAG_OWN_REALTY': ['Y', 'N']
}

In [28]:
# Fonction pour corriger les valeurs anormales dans les colonnes de type 'object'
def correct_anomalies(df, column, correct_values):
    unique_values = df[column].unique()
    print(f"Valeurs uniques avant correction pour {column}:")
    print(unique_values)
    # Remplacer 'XNA' par la valeur majoritaire dans CODE_GENDER
    if column == 'CODE_GENDER':
        majority_value = df[column].mode()[0]
        df[column] = df[column].replace('XNA', majority_value)
    unique_values_corrected = df[column].unique()
    print(f"Valeurs uniques après correction pour {column}:")
    print(unique_values_corrected)

# Corriger les valeurs anormales pour chaque colonne de type 'object'
for column, values in valid_values.items():
    correct_anomalies(application_selected, column, values)

Valeurs uniques avant correction pour NAME_CONTRACT_TYPE:
['Cash loans' 'Revolving loans']
Valeurs uniques après correction pour NAME_CONTRACT_TYPE:
['Cash loans' 'Revolving loans']
Valeurs uniques avant correction pour CODE_GENDER:
['M' 'F' 'XNA']
Valeurs uniques après correction pour CODE_GENDER:
['M' 'F']
Valeurs uniques avant correction pour FLAG_OWN_CAR:
['N' 'Y']
Valeurs uniques après correction pour FLAG_OWN_CAR:
['N' 'Y']
Valeurs uniques avant correction pour FLAG_OWN_REALTY:
['Y' 'N']
Valeurs uniques après correction pour FLAG_OWN_REALTY:
['Y' 'N']

In [29]:
# Vérifier les valeurs uniques après correction
object_columns_unique_counts_corrected = application_selected.select_dtypes('object').apply(pd.Series.nunique, axis=0)
print(object_columns_unique_counts_corrected)

NAME_CONTRACT_TYPE    2
CODE_GENDER           2
FLAG_OWN_CAR          2
FLAG_OWN_REALTY       2
dtype: int64

In [30]:
# Vérifier les types de données
print(application_selected.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   SK_ID_CURR          307511 non-null  int64
 1   TARGET              307511 non-null  int64
 2   NAME_CONTRACT_TYPE  307511 non-null  object
 3   CODE_GENDER         307511 non-null  object
 4   FLAG_OWN_CAR        307511 non-null  object
 5   FLAG_OWN_REALTY     307511 non-null  object
 6   CNT_CHILDREN        307511 non-null  int64
 7   AMT_INCOME_TOTAL    307511 non-null  float64
 8   AMT_CREDIT          307511 non-null  float64
 9   AMT_ANNUITY         307511 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 23.5+ MB
None

In [31]:
# Traiter les valeurs aberrantes pour les colonnes numériques
numerical_cols = ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY']
for col in numerical_cols:
    q_low = application_selected[col].quantile(0.01)
    q_high = application_selected[col].quantile(0.99)
    application_selected = application_selected[(application_selected[col] > q_low) & (application_selected[col] < q_high)]

In [32]:
# Vérifier que toutes les valeurs manquantes ont été traitées
print(application_selected.isnull().sum())

SK_ID_CURR            0
TARGET                0
NAME_CONTRACT_TYPE    0
CODE_GENDER           0
FLAG_OWN_CAR          0
FLAG_OWN_REALTY       0
CNT_CHILDREN          0
AMT_INCOME_TOTAL      0
AMT_CREDIT            0
AMT_ANNUITY           0
dtype: int64

In [34]:
# Sauvegarder les données nettoyées
application_selected.to_csv(r'C:\Users\jason\Desktop\Cours MS2D\Bejaoui\IA\Credit scoring project\application_train_clean.csv', index=False)